.sectionOne{
    background-image: url(resources/Banner\ Image.png);
    background-repeat: no-repeat;
    text-align: center;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;

}
.sectionOne h3, .sectionOne h1{
    color: white;
}
.sectionTwo{
    text-align: center;
}
.sectionThree{
    background-image: url(resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: auto;
    width: 1320px;
height: 600px;
}
.sectionFour{
    text-align: center;
}
.sectionFive{
    display: flex;
    align-items: center;
    align-content: center;
}
.sectionSix{
    text-align: center;
}
.sectionEight{
    text-align: center;
}
.image{
    width: 424px;
    height: 450px;
}
.Merriweather{
    font-family: 'Merriweather', serif;
}
.Inter{
    font-family: 'Inter', sans-serif;
}